@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Roboto:wght@100;300;400;700;900&family=Rubik:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    font-family: 'Roboto', sans-serif;
}

body{
    background: white;
}

li{
    list-style:none;
    cursor: pointer;
    position: relative;
}

li:hover::before{
    position: absolute;
    content: '';
    height: 4px;
    width: 100%;
    right: 0;
    bottom: -10px;
}


.icon{
    cursor: pointer;
}

.card{
    background: #fdb44b; 
}
 
/* .jobContainer{
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 10px;
} */
/* 
input:focus { 
    outline: none !important;
    border: 2px solid #fdb44b;
    box-shadow: 0 0 10px #f7f8f9;
} */

.applied{
    background:red;
}

/* .singleJob{
    width: 250px;
    height: 280px;
} */